
.container{
    border: 1px solid black;
    height: 100%;
    
}
.side-bar{
    border: 1px solid black;
    height: 100%;
    width: 30%;
}
.main-area{
    border: 1px solid black;
    height: 100%;
    width: 70%;
}
.main-section{
    display: flex;
    height: 90%;
}
.top-bar{height: 10%;}
